
.question{
  width: fit-content;
  padding: 25px 50px;
  text-align: center;
  margin: auto;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border:1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  margin-top: 300px;
    
    
}

.Qs{
    font-size: x-large;
    
}


.wrapper{
  margin: 100px;
    text-align: center;
    
}

  
#start {
  padding:30px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: white;
  color: black;
  border: 2px solid #4CAF50;
  border-radius: 8px;
  font-size: 24px;
  transition-duration: 0.5s
}

#start:hover{
    background-color: #4CAF50;
  color: white;
}


#timer{

  background-color: #4CAF50;
}

.userInformation{
  
  padding: 30px;
  width: 180px;
  display: block;
  background-color: rgba(110, 176, 95, 0.204);
  margin: auto;
  border-radius: 10px;
}



.intro{
  font-size: large;
  padding: 2px;
  margin-left: 50%;
  margin-top: 10%;
  transform: translate(-20%, 0%);
}

.answerBtn{
  padding: 10px 24px;
  margin: 10px;
  width: 100px;
  border-radius: 15px;
  font-size: 16px;
  background-color: rgba(255, 64, 0, 0.338);
  color: rgb(255, 255, 255);
  border: 4px solid rgba(255, 64, 0, 0.767);
}

.answerBtn:hover{
  background-color: white;
  color: rgba(255, 64, 0, 0.767);

}

table, td, th {  
  border: 1px solid #ddd;
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 50%;
}

th, td {
  padding: 15px;
}

#contentTable{
  visibility: hidden;
}

audio{
  visibility: hidden;
}

#popup{
  width: 400px;
  padding: 50px;
  background-color: rgb(225, 225, 225);
  border-radius: 6px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility:hidden;
  
  
}
#submitAnswer{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 100%);
  background-color: white;
  color: black;
  border: 1px solid #4CAF50;
  border-radius: 6px;
  font-size: medium;
  transition-duration: 0.1s;
  padding: 10px;

}
#submitAnswer:hover{
  background-color: #4CAF50;
color: white;
}
